/* add your CSS here */

body {
	background: #f9f9f9;

}

h3 {
	text-align: center;
}
a {
	text-decoration: none;
	color: #000;
}

.card {
	width: 300px;
	border: solid 2px;
	padding: 0px 20px 20px 20px;
	margin: auto;
	box-shadow: 10px 10px 5px #888888;
	background-color: #fff;

	transform-style: preserve-3d;
    transition: all 1s ease-in-out;
    cursor: pointer;

}

.card:hover {
  transform: rotateY(180deg);
  -ms-transform: rotateY(180deg); /* IE 9 */
  -webkit-transform: rotateY(180deg); /* Chrome, Safari, Opera */
  box-shadow: -10px 10px 5px #888888;
}

.front {
  backface-visibility: hidden;
}

.back {
  text-align: center;
  transform: rotateY(180deg);
}

img {
	width: 300px;
}

.fact {
	font-style: italic;
}

ul {
  list-style-type: none;
  margin-left: -40px;
}

.item-name {
	font-weight: bold;
}

.content-text {
	border: solid rgba(0, 0, 0, .1) 1px;
	padding: 5px;
}

